{% extends "template.html" %}
{% block content %}
<form action="{{ url_for('update') }}" method="post" enctype="multipart/form-data">
    <figure class="img-thumbnail col-md-4">
      <img src="{{ url_for('image', name=cover_image) }}" class="img-fluid">
      <figcaption>
        <label class="fileContainer">
          Alterar imagem
          <input type="file" name="image-file" accept=".jpg" />
        </label>
      </figcaption>
    </figure>

    <fieldset>
      <input type="hidden" name="id" value="{{ game.id }}" />
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="name" class="form-control" value="{{ game.name }}">
      </div>
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" id="categoria" name="category" class="form-control" value="{{ game.category }}">
      </div>
      <div class="form-group">
        <label for="console">Console</label>
        <input type="text" id="console" name="console" class="form-control" value="{{ game.console }}">
      </div>
      <button type="submit" class="btn btn-primary btn-salvar">Atualizar</button>
    </fieldset>
</form>
{%endblock%}