{% extends "template.html" %}
{% block content %}
<form method="POST" action="{{ url_for('auth') }}">
    <input type="hidden" name="next_page" value="{{ next_page }}" >
    {{ form.csrf_token() }}
    <div class="form-group">
        {{ form.nickname.label(class="form-label") }}
        {{ form.nickname(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="form-group buttons">
        {{ form.submit(class="btn btn-primary") }}
        <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
    </div>
</form>
{%endblock%}